<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カレンダー | [[${startDate}]] ～ [[${endDate}]]</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="p-5">

	<table class="table table-bordered">
		<thead class="table-info">
			<tr>
				<th class="w-25">日付</th>
				<th class="w-50">備考</th>
				<th class="w-25">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${list}">
				<td th:text="${item}"></td>
				<td></td>
				<td><button type="button" class="btn btn-secondary">確認</button></td>
			</tr>
		</tbody>
	</table>
</body>
</html>


