<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カレンダー | [[${startDate}]] ～ [[${endDate}]]</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="p-5">

	<table class="table table-bordered">
		<thead class="table-info">
			<tr>
				<th>月</th>
				<th>火</th>
				<th>水</th>
				<th>木</th>
				<th>金</th>
				<th>土</th>
				<th>日</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="week : ${list}">
				<td th:text="${item}" th:each="item : ${week}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>


